.skill {
  position: relative;
  top: 8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(22, 66, 22, 0.8);
  height: 45rem;

}
.container{
  width: 80%;
  height: 40vh;
  position: relative;
  top:2rem;
}
.skill-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
  
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  animation: mymove1 infinite;
  animation-duration: 3s;
}
@keyframes mymove1 {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }
  
}
.skill p {
   text-align: center;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.item:hover{
  background: rgb(21, 97, 21);
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item {
  margin: 0 10px;
}
.skill-slider .item img {
  width: inherit;
  height: 30vh;
  margin: 0 auto 15px auto;
  transition: 200ms ease-in;
  padding: 10px;
}
.skill-slider .item h5{
  text-align: center;
  padding: 2rem 0;
}
@media only screen and (max-width: 600px){
  .skill{
    background: rgb(22, 66, 22);
    height: 60rem;
    top: 0rem;
  }
  .container{
    top:6rem;
  }
}