.nav_container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 5rem;
  top:0;
  z-index: 11;
}
h4{
  font-weight: bold;
}
nav{
  width: 80%;
 
}
.scroll{
  background: rgb(37, 83, 37);
  transition: 100ms ease-in;
  box-shadow: 1rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}
.nav_menu{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}
.nav_menu .link {
  font-size: 0.9rem;
  transition: 400ms ease all;
}
.nav_menu .link:hover{
  color: rgb(70, 177, 70);
  border-bottom: 2px solid rgb(70, 177, 70);
  padding: 0 3px 3px;
}
.logo{
  color: rgb(152, 209, 152);
  font-weight: bold;
  font-size: 1.6rem;
}

.icon{
  display:none;
}
@media only screen and (max-width:900px){
  .icon{
    display: inline-block;
    background:transparent;
    cursor: pointer;
    font-size: 1.6rem;

  }
  .login{
    display: none;
  }
  .nav_menu{
    position: fixed;
    top: 4rem;
    right:11%;
    height: fit-content;
    width: 16rem;
    flex-direction: column;
    gap: 0;
  }
  .nav_menu .link {
    width: 100%;
    height: 3rem;
  }
  .nav_menu a{
    background: rgb(40, 104, 40);
    box-shadow: -4rem 6rem 8rem rgba(0,0,0,0.4);
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    transition: 400ms ease-in;
  }
  .nav_menu a:hover{
    background: rgb(46, 95, 46);
  }
  
}